USE [master]
GO
/****** Object:  Database [BIRD]    Script Date: 2020/6/6 11:19:02 ******/
CREATE DATABASE [BIRD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BIRD', FILENAME = N'D:\Program Op\SQL\SQL2017Express\MSSQL14.SQLEXPRESS\MSSQL\DATA\BIRD.mdf' , SIZE = 15360KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BIRD_log', FILENAME = N'D:\Program Op\SQL\SQL2017Express\MSSQL14.SQLEXPRESS\MSSQL\DATA\BIRD_log.ldf' , SIZE = 15360KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BIRD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BIRD]
GO
/****** Object:  Table [dbo].[Up]    Script Date: 2020/6/6 11:19:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Up](
	[name] [nchar](20) NOT NULL,
	[password] [nchar](20) NOT NULL,
	[hightest] [nchar](10) NULL
) ON [PRIMARY]
GO
USE [master]
GO
